/** GLOBALES **/
.clearfix:before,
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.contenedor{
  width: 95%;
  margin: 0 auto;
}
html{
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
.button{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  border-radius: 20px;
  border: 5px solid #00b13c;
  background: #00b13c;
  color: #FFFFFF;
  padding: 2px 10px;
}
.button:hover{
  background: #ffffff;
  color: #00b13c;
  transition: all .5s ease;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none !important;
}
.opcion{
  border: 2px solid #00b13c;
  border-radius: 20px;
  padding: 5px 0;
  text-indent: 5px
}
/** LOGIN **/
.logo{
  width: 150px;
  height: 90px;
}
.ingreso_usuario{
  text-align: center;
  border: 5px solid #00b13c;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  padding-bottom: 20px;
}
.ingreso_usuario h2{
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
}
.usuario, .contraseña{
  padding: 2px 10px ;
  border: 2px solid #00b13c;
  border-radius: 20px;
  width: 98%;
  font-size: 1em;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px
}
.recordar_usuario{
  float: left;
  margin-right: auto;
}
label{
  float: left;
  margin-left: 2px;
  font-family: 'Oswald', sans-serif;
}
.ingresar{
  margin-right: 15px;
  float: right;
  margin-top: 10px;
}
.contenedor_contraseña{
  position: relative;
}
.mostrar_constraseña{
  position: absolute;
  padding: 10px;
}
.mostrar_constraseña:hover{
  cursor: pointer;
}

/** TEXTO MOSTRAR CONTRASEÑA **/

.tooltip{
  position: absolute;
  display: inline-block;
  right: 40px;
  bottom: 18px;
}
.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -70px;
  margin-left: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  right: 28px;
  margin-left: -50px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

/** NAVEGACION **/

  nav{
    display: none;
  }
  nav ul{
    display: none;
  }

/** MENU MOVIL **/

div.menu_movil{
  max-height: 120px;
  position: relative;
}
div.boton_menu{
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}
div.boton_menu:hover{
    cursor: pointer;
}
div.boton_menu span{
    height: 8px;
    margin-bottom: 6px;
    background-color: #00b13c;
    display: block;
}
div.elementos-menu-movil{
  position: absolute;
  display: inline-grid;
  right: 0;
  top: 100%;
  visibility: hidden;
  z-index: 1;
}
div.elementos-menu-movil a{
  border-radius: 0;
}
/** LISTA DE CURSOS **/

.lista_cursos{
  display: none;
}
.table{
  font-size: 12px;
}
table.table th{
  text-align: center;
}
.table th{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

/** REGISTRO DE HITOS **/

.formulario_hito{
  display: none;
}
.nombre_proyecto,
.fecha_entrega_hito,
.estado_hito,
.valoracion_hito,
.descripcion_hito,
.codigo_curso,
.asignacion_alumno{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 2px solid #909F96;
}
.fecha_entrega_hito .fecha{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fecha input{
  border: 2px solid #00b13c;
  border-radius: 20px;
  padding: 5px 7px;
}
.estado_hito .opcion,
.valoracion_hito .opcion{
  text-align: center;
  width: 100%;
}
.estado select, .valoracion select{
  padding: 5px 15px;
  margin-bottom: 5px;
}
.descripcion_hito,
.feedback{
  text-align: center;
}
.descripcion_hito textarea,
.feedback textarea{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #00b13c;
  border-radius: 10px;
}
div.guardar_hito{
  float: right;
  margin-top: 20px;
}
.titulo{
  text-align: center;
}
.nombre_proyecto div span{
  float: none;
}

/** REGISTRO DE PROYECTOS **/

.datos_creacion_proyecto{
  width: 100%;
  margin-top: 20px;
}
.nom_proyecto{
  border-radius: 20px;
  border: 2px solid #00b13c;
  padding: 5px 7px;
  width: 100%;
}
.codigo,
.asignacion,
.ingreso_nombre_proyecto{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.codigo select,
.proyecto,
.asignacion select{
  width: 100%;
}
.crear_proyecto{
  position: relative;
  float: right;
  margin-top: 10px;
}
.grupos_proyectos{
  width: 100%;
  margin-top: 80px;
  float: none;
}
/** MEDIA QUERIS **/
@media only screen and (min-width:768px){
  .grupos_proyectos{
    border-left: 2px solid #00b13c;
    width: 60%;
    float: right;
    margin-top: 10px;
  }
}
@media only screen and (min-width:768px){
  .crear_proyecto{
    position: relative;
    float: right;
  }
}
@media only screen and (min-width:768px){
  .codigo,
  .asignacion,
  .ingreso_nombre_proyecto{
    width: 70%;
    float: right;
  }
}
@media only screen and (min-width:768px){
  .datos_creacion_proyecto{
    width: 40%;
    margin-top: 20px;
    float: left;
  }
}
@media only screen and (min-width:768px){
  .nombre_proyecto,
  .codigo_curso,
  .asignacion_alumno{
    margin-bottom: 15px;
    margin-right: 20px;
    border-top: 0;
  }
}
@media only screen and (min-width:768px){
  .nombre_proyecto div span{
    float: left;
  }
}
@media only screen and (min-width:768px){
  .logo{
    margin: 10px 0 0 10px;
    width: 230px;
    height: 130px;
  }
}

@media only screen and (min-width:768px){
  .ingreso_usuario{
    text-align: center;
    border: 5px solid #00b13c;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width:768px){
  .usuario{
    padding: 2px 10px ;
    border: 2px solid #00b13c;
    border-radius: 20px;
    width: 50%;
    font-size: 1.2em;
    margin-bottom: 10px
  }
  .contraseña{
   padding: 2px 10px ;
   border: 2px solid #00b13c;
   border-radius: 20px;
   width: 50%;
   font-size: 1.2em;
   margin-bottom: 25px
  }
}

@media only screen and (min-width:768px){
  .recordar_usuario{
    float: left;
    margin-left: 80px;
    margin-top: 6px;
  }
}

@media only screen and (min-width:768px){
  .ingresar{
    margin-right: 20px;
    float: right;
  }
}

@media only screen and (min-width:768px){
  .tooltip{
    position: relative;
    display: inline-block;
    right: 45px;
    bottom: 12px;
  }
}

@media only screen and (min-width:768px){
  .tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: 2px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

@media only screen and (min-width:768px){
  .tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 82%;
    margin-left: -50px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

@media only screen and (min-width:768px){
  nav{
    width: 100%;
    margin: 10px auto;
    position: relative;
    border-bottom: 5px solid #00b13c;
  }
  nav ul{
    list-style: none;
    float: right;
    display: block;
  }
  nav > ul > li{
    float: left;
  }
  nav ul::after{
    content: '';
    display: block;
    clear: both;
  }
  nav ul li a{
    display: inline-block;
    width: 200px;
    text-decoration: none;
    text-align: center;
    border-radius: 0!important;
  }
  nav ul ul{
    position: absolute;
    top: 70%;
    display: none;
    right: 0px;
  }
  nav ul li:hover > ul{
    display: block;
  }
}

@media only screen and (min-width:768px){
    div.boton_menu{
        display: none;
    }
}

@media only screen and (min-width:768px){
  div.elementos-menu-movil{
    display: none;
  }
}

@media only screen and (min-width:768px){
  table.table th{
    text-align: left;
  }
}
@media only screen and (min-width:768px){
  .lista_cursos_movile{
    display: none;
  }
  .lista_cursos{
    display: block;
    margin: 10px auto 0 auto;
  }
}

@media only screen and (min-width:768px){
  .nombre_proyecto, .fecha_entrega_hito{
    margin-top: 0;
    border-bottom: 0;
    border-top: 0;
  }
}

@media only screen and (min-width:768px){
  .formulario_hito_movile{
    display: none;
  }
  .formulario_hito{
    display: block;
  }
  .nombres_participantes .titulo{
    position: relative;
    float: left;
    width: 30%;
    text-align: left;
  }
  .datos_proyecto{
    margin-top: 20px;
    float: left;
    width: 50%;
    border-right: 2px solid #00b13c;
  }
  .nombre_proyecto .titulo{
    width: 30%;
    text-align: left;
  }
  .nombre_proyecto div span{
    width: 70%;
    float: left;
  }
  .nombres_participantes,
  .seccion_curso,
  .fecha_ultimo_hito,
  .fecha_entrega_hito,
  .estado_hito,
  .valoracion_hito{
    text-align: left;
    position: relative;
    margin-top: 15px;
    border-top: 0;
    border-bottom: 0;
  }
  .titulo{
    width: 30%;
    float: left;
    text-align: left;
  }
  .nombres{
    float: right;
    text-align: left;
    position: relative;
    width: 70%;
  }
  .nombres span::after{
    content: '\A';
    white-space: pre;
  }
  .registo_hito{
    margin-top: 20px;
    float: right;
    width: 50%;
    padding-left: 20px;
  }
  .nombre_seccion{
    float: right;
    width: 70%;
    position: relative;
    text-align: left;
  }
  .fecha{
    float: left;
  }
  .fecha span, .fecha input{
      border: 2px solid #00b13c;
      border-radius: 20px;
      padding: 5px 7px;
  }
  .descripcion_hito, .feedback{
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 0;
    border-top: 0;
  }
  .descripcion_hito textarea, .feedback textarea{
    width: 80%;
    height: 120px;
    border: 2px solid #00b13c;
    border-radius: 10px;
  }
  .guardar_hito{
    text-align: right;
    width: 80%;
  }
  .estado_hito select, .valoracion_hito select{
    width: 50%;
    text-indent: 5px;
  }
  .estado_hito .opcion,
  .valoracion_hito .opcion{
    width: 50%;
  }
}
