/** GLOBALES **/
.clearfix:before,
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.contenedor{
  width: 98%;
  margin: 0 auto;
}
html{
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
.button{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  border-radius: 20px;
  border: 5px solid #00b13c;
  background: #00b13c;
  color: #FFFFFF;
  padding: 2px 10px;
}
a,
a:hover {
  text-decoration: none !important;
}
.opcion{
  border: 2px solid #00b13c;
  border-radius: 20px;
  padding: 5px 100px;
}
/** LOGIN **/

.logo{
  margin: 10px 0 0 10px;
  width: 300px;
  height: 150px;
}
.ingreso_usuario{
  text-align: center;
  border: 5px solid #00b13c;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  padding-bottom: 20px;
}
.usuario{
  padding: 2px 10px ;
  border: 2px solid #00b13c;
  border-radius: 20px;
  width: 50%;
  font-size: 1.2em;
  margin-bottom: 10px
}
.contraseña{
 padding: 2px 10px ;
 border: 2px solid #00b13c;
 border-radius: 20px;
 width: 50%;
 font-size: 1.2em;
 margin-bottom: 25px
}
.recordar_usuario{
  float: left;
  margin-left: 80px;
  margin-top: 6px;
}
label{
  float: left;
  margin-left: 2px;
  font-family: 'Oswald', sans-serif;
}
.ingresar{
  margin-right: 20px;
  float: right;
}
.ingresar:hover{
  background: #ffffff;
  color: #00b13c;
  transition: all .5s ease;
}
.contenedor_contraseña{
  position: relative;
}
.mostrar_constraseña{
  position: absolute;
  padding: 10px;
}
.mostrar_constraseña:hover{
  cursor: pointer;
}

/** TEXTTO MOSTRAR CONTRASEÑA **/

.tooltip{
  position: absolute;
  display: inline-block;
}
.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 100%;
  margin-left: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}


/** LISTADO DE PROYECTOS **/

.navegacion{
  width: 67%;
  float:right;
  text-align: right;
  display: block;
  margin-bottom: 20px;
}
.navegacion a{
  text-decoration: none;
  padding: 10px 10px;
  background-color: #ffffff;
  color: #00b13c;
  border-color: #ffffff;
}
.navegacion a:last-child{
  margin-right: 0;
}
.navegacion a:hover{
  color: #ffffff;
  background-color: #00b13c;
  border-radius: 5px;
  border-color: #00b13c;
  transition: all ease .6s;
}

/** LISTA DE CURSOS **/

.lista_cursos{
  margin: 40px auto 0 auto;
  border-top: 5px solid #00b13c;
}
.table th{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

/** REGISTRO DE HITOS **/

.registro{
  border-top: 5px solid #00b13c;
  position: relative;
  margin: 40px auto 0 auto;
}
.datos_proyecto{
  margin-top: 40px;
  float: left;
  width: 35%;
  border-right: 2px solid #00b13c;
}
.nombres_participantes,
.seccion_curso,
.fecha_ultimo_hito,
.fecha_entrega_hito,
.estado_hito,
.valoracion_hito{
  text-align: left;
  position: relative;
  margin-top: 15px;
}
.titulo{
  width: 30%;
  float: left;
}
.nombres{
  float: right;
  text-align: left;
  position: relative;
  width: 70%;
}
.nombres span::after{
  content: '\A';
  white-space: pre;
}
.registo_hito{
  margin-top: 40px;
  float: right;
  width: 65%;
  padding-left: 20px;
}
.nombre_seccion{
  float: right;
  width: 70%;
  position: relative;
  text-align: left;
}
.fecha span, .fecha input{
    border: 2px solid #00b13c;
    border-radius: 20px;
    padding: 5px 7px;
}
.descripcion_hito, .feedback{
  margin-bottom: 20px;
}
.descripcion_hito textarea, .feedback textarea{
  width: 80%;
  height: 120px;
  border: 2px solid #00b13c;
  border-radius: 10px;
}
.guardar_hito{
  text-align: right;
  width: 80%;
}
.guardar:hover{
  background: #ffffff;
  color: #00b13c;
  transition: all .5s ease;
  cursor: pointer;
}
.estado_hito select, .valoracion_hito select{
  width: 70%;
  padding: 5px 7px;
}

/** REGISTRO DE PROYECTOS **/

.formulario_proyecto{
  margin: 40px auto 0 auto;
  border-top: 5px solid #00b13c;
}

.nombre_proyecto,
.nombre_de_proyecto,
.codigo_cursos,
.codigo,
.alumnos,
.asignar_alumnos{
  text-align: left;
  position: relative;
  margin-top: 15px;
}
.titulo_proyecto input{
    border: 2px solid #00b13c;
    border-radius: 20px;
    padding: 5px 85px;
    margin-top: 15px;
}
.datos_alumnos{
  position: relative;
  float: left;
  width: 50%
}
.grupos{
  float: right;
  text-align: left;
  width: 50%;
}
.grupo_alumnos span::after{
  content: '\A';
  white-space: pre;
}
.nombre_alumnos{
  float: left;
}
.grupo_alumnos{
  float: right;
}
.guardar_proyecto{
  float: right;
}
